blinker==1.9.0
click==8.4.2
colorama==0.4.6
Flask==3.1.3
Flask-Mail==0.10.0
gunicorn==26.2.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysql-connector-python==9.7.0
pillow==12.3.0
psycopg2==2.9.12
pypng==0.20220715.0
PyQRCode==1.2.1
Werkzeug==3.1.8
