{% extends "adminLayout.html" %}

{% block content %}
   <!-- Statistics -->

   <div class="row g-4 mb-5">

    <div class="col-md-3">
        <div class="card stat-card p-3">
            <h5>Total Users</h5>
            <h2>120</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card stat-card p-3">
            <h5>Total Events</h5>
            <h2>15</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card stat-card p-3">
            <h5>Passes Issued</h5>
            <h2>430</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card stat-card p-3">
            <h5>Revenue</h5>
            <h2>₹85,000</h2>
        </div>
    </div>

</div>

{% endblock %}