{% extends "userLayout.html" %}
{% block content %}        
            
                <div class="card bg-dark border-secondary p-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent d-flex justify-content-between align-items-center">
                            Summer Music Fest 2026
                            <a href="pass-creation.html" class="btn btn-sm btn-info text-dark">Get Pass</a>
                        </li>
                    </ul>
                </div>
            
{% endblock %}