{% extends "adminLayout.html" %}

{% block content %}
   <div class="container">
    {% with message = get_flashed_messages() %}
    {% if message %}
    {% for msg in message %}
    <div class="alert alert-danger">
    {{msg}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <table class="table table-dark table-hover table-stripe">
    <thead>
        <tr>
            <th>Event ID</th>
            <th>First Name</th>
            <th>Last Name</th> 
        </tr>
    </thead>
    <tbody>
    {% if record %}
    {% for r in record %}
        <tr>
            <th>{{r[0]}}</th>
            <th>{{r[1]}}</th>
            <th>{{r[2]}}</th>  
        </tr>
    {% endfor %}
    {% else %}
     <div class="alert alert-warning">Currently Pass is not generated to the any User!!!</div>
    {% endif %}
    </tbody>
    </table>
   </div>
{% endblock %}